# Files which should be ignored by Git
/datas/
/*.php
!/flance.install.php
/*.ico
/*.txt
/*.png
.DS_Store
.htaccess
sef-urls.htaccess
sef-urls.nginx.conf
/nbproject/
/images/
/js/
/lang/
/lib/
/setup/
/system/*
!/system/functions.custom.php
/modules/forums/
/modules/index/
/modules/install/
/modules/page/
/modules/pfs/
/modules/pm/
/modules/polls/
/modules/rss/
/modules/users/
/modules/index.html
/themes/nemesis/
/themes/symisun-03/
/themes/.htaccess/
/themes/index.html
/plugins/index.html
/plugins/autoalias2/
/plugins/autocomplete/
/plugins/banlist/
/plugins/bbcode/
/plugins/banlist/
/plugins/ckeditor/
/plugins/cleaner/
/plugins/comments/
/plugins/contact/
/plugins/genoa/
/plugins/hiddengroups/
/plugins/hits/
/plugins/html/
/plugins/htmlpurifier/
/plugins/i18n/
/plugins/ipsearch/
/plugins/markitup/
/plugins/mcaptcha/
/plugins/news/
/plugins/indexnews/
/plugins/ratings/
/plugins/recentitems/
/plugins/referers/
/plugins/search/
/plugins/sitemap/
/plugins/statistics/
/plugins/tags/
/plugins/trashcan/
/plugins/urleditor/
/plugins/userimages/
/plugins/whosonline/
/plugins/abs_urls/
/plugins/hybridauth/
/plugins/subcat/
/plugins/pagecattree/
/plugins/fancybox/
